@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

*{margin:0; padding:0; box-sizing:border-box;
letter-spacing:0.05rem;word-break:keep-all; word-wrap: break-word;}

:root{
    --default-font-size:1.3rem;
    --theme-selection-background-color:rgba(85,55,30,0.99);
    --theme-selection-text-color:#fff;
    --theme-text-color:#000;
    --nav-current-color:#25c;
    --common-box-color:rgba(255,215,155,0.7);
    --common-top-thead-color:rgba(230,175,115,0.7);
    --common-thead-color:var(--common-box-color);

    --search-input-background-color:var(--search-option-background-color);
    --search-input-background-color-interact:rgba(255,235,195,0.9);
    --search-input-text-color:var(--search-option-text-color);
    
    --search-selected-option-text-color:var(--search-option-background-color);
    --search-option-text-color:var(--search-selected-option-background-color);
    --search-selected-option-background-color:rgba(60,35,15,0.7);
    --search-option-background-color:rgba(255,235,195,0.8);
    --keycap-gradient-color:linear-gradient(to left,var(--common-box-color), #ffefce ,var(--common-box-color));
    --keycap-print-color:var(--theme-text-color);
}



dl{
    margin:0.4rem 0;
}

dl>dt{
    background-color:var(--common-box-color);
}

dl>dt,dl>dd{
    padding:1em;
    border-collapse: collapse;
    border:solid 1px;
    border-bottom:none;
    margin:0;
}

dl>dt:nth-child(1){
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border:solid 1px;
}

dl>*:last-child{
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom:solid 1px;
}

.visuallyhidden {
    clip: rect(0 0 0 0);   height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
    position: absolute; overflow: hidden;
    user-select:none;
}

.material-icons{
    vertical-align: middle;
    font-weight:bold;
}

.keycaps.Shift{width:6rem;}.keycaps.Shift .material-icons{margin-left:0.5rem;}
.keycaps.Enter{width:5em;}.keycaps.Enter .material-icons{margin-left:0.5rem;}
.keycaps{
    display:inline-flex; box-sizing:border-box;
    width:2.5rem; height:2.5rem; border:solid 1px;
    color:var(--keycap-print-color);
    background:var(--keycap-gradient-color);
    border-top:solid 0.01rem rgba(55,25,0,0.05);
    border-left:solid 0.1rem rgba(55,25,0,0.05);
    border-right:solid 0.1rem rgba(55,25,0,0.1);
    border-bottom:solid 0.5rem rgba(55,25,0,0.25);
    font-size:2rem; border-radius:0.15rem;
    box-shadow:0 0 1px 1px #000; user-select: none;
    text-shadow:0 0.1rem 0.05rem #420; vertical-align: middle;
    overflow:hidden; place-content:center; place-items:center; margin:0.25rem auto;
    text-align:center;
}

.keycaps span.print-text{
    flex:1; text-align:center; font-size:1rem;
    text-shadow:0 0.1rem 0.07rem #420;
}

.keycaps.navKeys span.print-text{
    font-size:0.7rem;
}

.mouse{font-size:3rem; user-select:none; position:relative; display:inline-block;
width:3rem;height:3rem; display:inline-block; -webkit-text-fill-color: transparent; background-blend-mode: color-burn;}
.dblclick{
    font-size:2rem;
    margin-left:-0.4rem;
}
.mouse,.keycaps{ margin:0 0.5rem; }



.mouse.right-click{
    margin:0.2rem 0;
    background:linear-gradient(#aaa,#fff), linear-gradient(#f00, #a00) top right/1.5rem 1.2rem no-repeat;
    background-clip:text; -webkit-background-clip:text; color:transparent;
    background-origin:text; -webkit-background-origin: text;
}

.mouse.left-click{
    background:linear-gradient(#aaa,#fff), linear-gradient(#00f, #00a) top left /1.5rem 1.2rem no-repeat;
    background-clip:text; -webkit-background-clip:text; color:transparent;
    background-origin:text; -webkit-background-origin: text;
}


html,body{width:100vw;height:100vh;overflow:hidden; position:relative;
    font-size:var(--default-font-size);
    font-family: 'NanumSquare';
}
.wrapper{
    width:100%;height:100%;overflow:hidden; position: relative;
}

nav.GNB>ul{height:100%; padding:2%;}nav.GNB li{margin:0.5rem 0;}
main{ padding:2%; overflow-y:auto; overflow-x:hidden; width:80%; height:100%; z-index:0;}
footer .copyright{ text-align: center }
footer .logo{vertical-align: middle; filter:invert(1);}
section{padding:0.4rem;}
h1{font-size:190%;}h2{font-size:165%; padding-bottom:1.2rem;}
h3{font-size:150%; margin-bottom:1rem;}h4{font-size:125%; text-align: center; padding-bottom:0.3rem; margin-bottom:0.3rem;}
ul{list-style:none;}
ol{padding-left:1.2rem;}
ol.type{list-style:none;}
ol.type li{margin-left:-0.9rem;}
ol.type.Hangul{counter-reset:KOREAN;}
ol.type.Hangul-consonant{counter-reset:korean;}
ol.type.Hangul>li::before{
    content:counter(KOREAN, hangul) '. ';
    content:counter(KOREAN, -moz-hangul) '. ';
    counter-increment: KOREAN;
}
ol.type.Hangul-consonant>li::before{
    content:counter(korean, hangul-consonant) '. ';
    content:counter(korean, -moz-hangul-consonant) '. ';
    counter-increment:korean;
}
p{margin:0.25rem 0.15rem;}
.middle-wrap{height:85%; width:100%;}
header{width:100%;height:10%;}footer{width:100%; height:5%;}
header h1{height:100%;margin:0; display:flex; align-items: center;}
.logo{ flex-basis: 10%; margin:0 auto;}
.logo>img{display:block; width:100%;}
.middle-wrap:after{content:"";display:block;clear:both;}
strong.important{color:#ff6f3f; }
nav.GNB{float:left;width:20%;height:100%;padding:0.5rem 0;overflow:hidden;overflow-y:auto;border-width:0 1px;}
header,footer,nav.GNB{z-index:2;border:solid 1px transparent;}
table {border-collapse:collapse; width:80%; font-size:1rem; margin:1rem 0;
table-layout: fixed;}
table thead th{
    background-color:var(--common-top-thead-color);
    font-size:110%;
}
table td, table th{border:solid 1px; padding:0.4rem; box-sizing:border-box; position:relative;}
col.col1{width:30%;}
code,code *{font-family:'NanumSquare'; font-size:1rem;}
custom-search{
    width:50%;
}

/*Light And Default */
html{background-color: rgba(255,255,255,0.3);}
html:after{content:""; display:block;position: absolute;  z-index:-2; top:0; left:0; background-size:cover;width:100%; height:100%; filter: grayscale(90%); opacity: 0.4;}
nav.GNB{background-color:var(--common-box-color);}
nav.GNB a[aria-current="page"]{color:var(--nav-current-color);}
nav.GNB a[aria-current="page"]:before{ vertical-align:top; margin-right:0.1rem; content:""; display:inline-block; width:0.3rem; height:1.3rem; background-color:var(--nav-current-color);}
header,footer{background-color:rgba(225,195,140,0.8); box-shadow:0 0 5px 1px #000;}
header .logo>img{filter:invert(1)}
main{ background-color:rgba(255,195,130,0.3);}
a{text-decoration: none; cursor:pointer; font-weight: bold;}
a:link{color:#319;}a:visited{color:#539;}
.tag{color:#015; font-weight:bold;}
.attribute{color:#159;}.valueType{color:#53f;}
footer{color:var(--theme-text-color);}
table th{ background-color:var(--common-thead-color);}
*.simplebar-scrollbar.simplebar-visible:before{opacity:1;}
*.simplebar-scrollbar:before{background:#210; border:solid 1px var(--theme-text-color);}
header{border-color:
    rgba(0,0,0,0.4)
    rgba(0,0,0,0.2)
    rgba(0,0,0,0.8)
    rgba(0,0,0,0.4)
;}
nav.GNB{
    border-color:
    rgba(0,0,0,0.4)
    rgba(0,0,0,0.8)
    rgba(0,0,0,0.2)
    rgba(0,0,0,0.4)
;}

footer{border-color:
    rgba(0,0,0,0.8)
    rgba(0,0,0,0.4)
    rgba(0,0,0,0.2)
    rgba(0,0,0,0.4)
;}

/*Dark*/
@media (prefers-color-scheme: dark){
    :root{
        --theme-text-color:#fff;
        --nav-current-color:#8cf;
        --common-box-color:rgba(20,20,50,0.5);
        --common-top-thead-color:rgba(5,5,30,0.4);
        --theme-selection-background-color:rgba(50,70,155,0.99);
        --search-option-background-color:rgba(35,75,105,0.9);
        --search-selected-option-background-color:rgba(110,230,250,0.8);
        --search-input-background-color-interact:rgba(50,100,140,0.3);
        --keycap-gradient-color:linear-gradient(to left, #0f0f25, var(--common-box-color), #0f0f2f);
        --keycap-print-color:#afcfff;
    }
    header .logo img{filter:invert(0);}
    html{background-color:rgba(50,50,50,0.99); color:#fff;}
    main{background-color:rgba(10,10,20,0.35);}
    header,footer{background-color:rgba(10,10,30,0.6);}
    
    .keycaps{
        color:var(--keycap-print-color);
        background:var(--keycap-gradient-color);
        border-top:solid 0.01rem rgba(0,0,0,0.1);
        border-left:solid 0.1rem rgba(0,0,0,0.2);
        border-right:solid 0.1rem rgba(0,0,0,0.2);
        border-bottom:solid 0.5rem rgba(0,0,0,0.4);
        text-shadow:0 -0.1rem 0.01rem #6a98f0;
    }

    .print-text{
        text-shadow:0 -0.07rem 0.01rem #6a98f0;
    }

    header{border-color:
        rgba(255,255,255,0.4)
        rgba(255,255,255,0.2)
        rgba(255,255,255,0.8)
        rgba(255,255,255,0.4)
    ;}
    
    nav.GNB{
        border-color:
        rgba(255,255,255,0.4)
        rgba(255,255,255,0.8)
        rgba(255,255,255,0.2)
        rgba(255,255,255,0.4)
    ;}

    footer{
        border-color:
        rgba(255,255,255,0.8)
        rgba(255,255,255,0.4)
        rgba(255,255,255,0.2)
        rgba(255,255,255,0.4)
    ;}

    a:link{color:#0af} a:visited{color:#08c;}
    nav.GNB{background-color:var(--common-box-color);}
    nav.GNB a[aria-current="page"]{color:var(--nav-current-color);}
    .tag{color:#cef;}
    .attribute{color:#5cf;}
    .valueType{color:#c9f;}
    footer .logo{filter:invert(0);}
    div.simplebar-scrollbar.simplebar-visible:before{opacity:0.6;}
    div.simplebar-scrollbar:before{background:linear-gradient(#cff, #6ae); border:solid 1px var(--theme-text-color);}
}

@media screen and (max-width:1024px) and (orientation: portrait ){
    .logo{ flex-basis: 35%;}
}

@media screen and (min-width:100px) and (max-width:1024px) {
    :root{
        --default-font-size:1rem;
    }

    .mouse{
        margin:0 -0.5rem;
    }


    .text-or{font-size:0.8rem;}

    .mouse{font-size:2.2rem; user-select:none; position:relative; display:inline-block; line-height:2.5rem;
    vertical-align:middle;}
    
    .mouse.right-click{
        background:linear-gradient(#aaa,#fff), linear-gradient(#f00, #a00) top right/1.6rem 1rem no-repeat;
        background-clip:text; -webkit-background-clip:text; color:transparent;
        background-origin:border-box; -webkit-background-origin: border-box;
    }
    .mouse.left-click{
        background:linear-gradient(#aaa,#fff), linear-gradient(#00f, #00a) top left /1.6rem 1rem no-repeat;
        background-clip:text; -webkit-background-clip:text; color:transparent;
        background-origin:border-box; -webkit-background-origin: border-box;    
    }

    .keycaps.Shift{width:4rem;}.keycaps.Shift .material-icons{margin-left:0.25rem;}
    .keycaps.Enter{width:3em;}.keycaps.Enter .material-icons{margin-left:0.25rem;}
    .keycaps{
        display:inline-flex; box-sizing:border-box;
        width:2.2rem; height:2.2rem; border:solid 1px;
        color:var(--keycap-print-color);
        background:var(--keycap-gradient-color);
        border-top:solid 0.01rem rgba(55,25,0,0.05);
        border-left:solid 0.1rem rgba(55,25,0,0.05);
        border-right:solid 0.1rem rgba(55,25,0,0.1);
        border-bottom:solid 0.5rem rgba(55,25,0,0.25);
        font-size:2.2rem; border-radius:0.15rem;
        box-shadow:0 0 1px 1px #000; user-select: none;
        text-shadow:0 0.1rem 0.05rem #420; vertical-align: middle;
        overflow:hidden; place-content:center; place-items:center; margin:0.5rem auto;
        text-align:center;
    }

    .keycaps span.print-text{
        flex:1; text-align:center; font-size:0.8rem;
    }

    .keycaps.navKeys span.print-text{
        font-size:0.65rem;
    }
    
    header{height:10%;}
    .mobile{display:inherit;}
    main{height:85%; width:100%;}
    .middle-wrap{height:80%; width:100%;}
    table{width:100%; font-size:1rem;}
    col.col1{width:40%;}
    nav.GNB{
        width:100%; height:15%;
        overflow-y:auto;
        border-width:0 1px 1px 1px;
        border-color:
        rgba(0,0,0,0.2)
        rgba(0,0,0,0.4)
        rgba(0,0,0,0.8)
        rgba(0,0,0,0.4);
    }
    footer{
        display:flex;
        height:10%;
        justify-content: center;
    }
    footer>*{
        align-self: center;
    }
    custom-search{width:100%;}
}

@media screen and (min-width:768px) and (max-width:1000px){
    .logo{ flex-basis: 14%;}
}


@media screen and (max-width:768px) and (prefers-color-scheme:dark){
    nav.GNB{
        border-color:
        rgba(255,255,255,0.2)
        rgba(255,255,255,0.4)
        rgba(255,255,255,0.8)
        rgba(255,255,255,0.4);
    }
}