@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
*{margin:0; padding:0; box-sizing:border-box;
letter-spacing:0.05rem; font-size:1.3rem}

:root{
    --theme-text-color:#000;
    --nav-current-color:#25c;
}
html,body{width:100vw;height:100vh;overflow:hidden; position:relative; font-size:0.9rem;font-family: 'NanumSquare';}
ul{list-style:none;}
ol{margin-left:1.2rem;}
.middle-wrap{height:85%;}
header{width:100%;height:10%;}footer{width:100%; height:5%;}
header h1{height:100%;margin:0; display:flex; align-items: center;}
.logo{ flex-basis: 10%; margin:0 auto;}
.logo>img{display:block; width:100%;}
header,footer,nav.GNB{z-index:2;
border:solid 1px transparent;}
table{border-collapse:collapse; width:80%; margin:1% 0; }
table td,table th{border:solid 1px; padding:0.2rem;}
.middle-wrap:after{content:"";display:block;clear:both;}
nav.GNB{float:left;width:20%;height:100%; padding:0.5rem 0; overflow:hidden;overflow-y:auto;
    border-width:0 1px;
}
nav.GNB>ul{height:100%; padding:2%;}nav.GNB li{margin:0.5rem 0;}
main{ padding:2%; overflow-y:auto; overflow-x:hidden; width:80%; height:100%; z-index:0;}
footer .copyright{ text-align: center }
footer .logo{vertical-align: middle; filter:invert(1);}

section{margin:1rem 0;}
h2{margin-bottom:1.2rem;}
h3{margin-bottom:1rem;}

/*Light And Default */

html{background-color: rgba(255,255,255,0.3);}
html:after{content:""; display:block;position: absolute;  z-index:-2; top:0; left:0; background-size:cover;width:100%; height:100%; filter: grayscale(90%); opacity: 0.4;}
nav.GNB{background-color:rgba(255,215,155,0.7);}
nav.GNB a[aria-current="page"]{color:var(--nav-current-color);}
nav.GNB a[aria-current="page"]:before{ vertical-align:top; margin-right:0.1rem; content:""; display:inline-block; width:0.3rem; height:1.3rem; background-color:var(--nav-current-color);}
header,footer{background-color:rgba(225,195,140,0.8); box-shadow:0 0 5px 1px #000;}
header .logo>img{filter:invert(1)}
main{ background-color:rgba(255,195,130,0.3);}
a{text-decoration: none; cursor:pointer; font-weight: bold;}
a:link{color:#319;}a:visited{color:#539;}
.tag{color:#015; font-weight:bold;}
.attribute{color:#159;}.valueType{color:#53f;}
footer{color:var(--theme-text-color);}
div.simplebar-scrollbar.simplebar-visible:before{opacity:1;}
div.simplebar-scrollbar:before{background:#210; border:solid 1px var(--theme-text-color);}

/*Dark*/
@media (prefers-color-scheme: dark){
    :root{
        --theme-text-color:#fff;
        --nav-current-color:#8cf;
    }
    header .logo img{filter:invert(0);}
    html{background-color:rgba(50,50,50,0.99); color:#fff;}
    main{background-color:rgba(10,10,20,0.35);}
    header,footer{background-color:rgba(10,10,30,0.6);}
    
    header{border-color:
        rgba(255,255,255,0.4)
        rgba(255,255,255,0.2)
        rgba(255,255,255,0.8)
        rgba(255,255,255,0.4)
    ;}
    
    nav.GNB{
        border-color:
        rgba(255,255,255,0.4)
        rgba(255,255,255,0.8)
        rgba(255,255,255,0.2)
        rgba(255,255,255,0.4)
    ;}

    footer{border-color:
        rgba(255,255,255,0.8)
        rgba(255,255,255,0.4)
        rgba(255,255,255,0.2)
        rgba(255,255,255,0.4)
    ;}

    a:link{color:#0af} a:visited{color:#08c;}
    nav.GNB{background-color:rgba(20,20,50,0.5);}
    nav.GNB a[aria-current="page"]{color:var(--nav-current-color);}
    .tag{color:#cef;}
    .attribute{color:#5cf;}
    .valueType{color:#c9f;}
    footer .logo{filter:invert(0);}
    div.simplebar-scrollbar.simplebar-visible:before{opacity:0.6;}
    div.simplebar-scrollbar:before{background:linear-gradient(#cff, #6ae); border:solid 1px var(--theme-text-color);}
}


@media screen and (max-width:768px){
    *{font-size:1.1rem;}
    header{height:10%;}
    .logo{ flex-basis: 35%;}
    .middle-wrap{height:80%; width:100%;}
    nav.GNB{
        width:100%; height:15%;
        overflow-y:auto;
        border-width:0 1px 1px 1px;
        border-color:
        rgba(255,255,255,0.2)
        rgba(255,255,255,0.4)
        rgba(255,255,255,0.8)
        rgba(255,255,255,0.4);
    }
    main{height:85%; width:100%}
    footer{
        display:flex;
        height:10%;
        justify-content: center;
    }

    footer>*{
        align-self: center;
    }
}